<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Eventos</title>
</head>
<body>
	<h1>Adicionar Evento</h1>

	<form action="">
		<div>
			<label>Nome:</label>
		</div>
		<input type="text" name="nome"> 
			
			<label>Local:</label> <input type="text" name="Local"> <div>
		</div>
			<label>Data:</label> <input type="text" name="data"> <div>
		</div>
			<label>Horario:</label> <input type="text" name="horario"> <div>
			
			<button type= "subimit">salvar</button>
			<button type= "reset">limpar</button>
			
			
		</div>
		
	</form>

</body>
</html>